.listChampions {
	display: grid;
	grid-template-columns: repeat(4, minmax(0px, 1fr));
}

.champions {
	width: 320px;
	text-align: center;
	position: relative;
	margin: 10px;
}

.champions:last-child {
	flex-grow: 1;
}

.imageContainer {
	overflow: hidden;
}

.championsImage {
	width: 100%;
	transform: scale(1.1);
	transition: 0.3s;
}

.championsName {
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: left;
	background-color: rgb(10, 20, 40);
	color: rgb(255, 255, 255);
	font-style: italic;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 700;
	padding: 15px;
	margin: 0;
}

.champions:hover .championsImage {
	transform: scale(1.2);
	transition: 0.3s;
}

.champions:hover .championsName {
	background-color: rgb(59, 67, 83);
	transition: background-color 0.2s;
}