* {
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
	margin: 0;
	padding: 0;
}

h1 {
	margin-top: 0;
	font-size: 22px;
}

h2 {
	margin-top: 0;
	font-size: 20px;
}

h3 {
	margin-top: 0;
	font-size: 18px;
}

h4 {
	margin-top: 0;
	font-size: 16px;
}

h5 {
	margin-top: 0;
	font-size: 14px;
}

h6 {
	margin-top: 0;
	font-size: 12px;
}

code {
	font-size: 1.2em;
}

ul {
	padding-inline-start: 20px;
}

* {
	box-sizing: border-box;
}


.square {
	background: #fff;
	border: 1px solid #999;
	float: left;
	font-size: 24px;
	font-weight: bold;
	line-height: 34px;
	height: 34px;
	margin-right: -1px;
	margin-top: -1px;
	padding: 0;
	text-align: center;
	width: 34px;
}

.board-row:after {
	clear: both;
	content: '';
	display: table;
}

.status {
	margin-bottom: 10px;
	min-width: 200px;
}

.game {
	display: flex;
	flex-direction: row;
}

.game-info {
	margin-left: 20px;
}

.game-info li {
	margin-bottom: 5px;
}

.form-feedback {
	display: flex;
	flex-direction: column;
}

form.form-feedback input,
form.form-feedback textarea,
form.form-feedback button {
	width: 500px;
	margin-bottom: 10px;
}

.product-list {
	display: flex;
	justify-content: center;
	margin-top: 50px;

}

.product-item {
	margin-right: 10px;
    padding: 40px 20px;
    border: 1px solid;
    border-radius: 5px;
    width: 250px;
}

.product-image {

}

.product-name {
    text-align: center;
}

.product-info {

}

.product-price {
    text-align: center;
}

.basket {
    width: 500px;
    border: 1px solid #000;
    padding: 15px 15px;
}

.basket-list {
    display: flex;
    justify-content: space-between;
}

.basket p{
	margin: 0;
}

.basket{
	/*display: none;*/
}
.basket.open{
	display: block;
}